@import "../../css/theme.scss";


.example {
    max-height: 410px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.example:hover {
    opacity: 0.75;
}

.container {
    display: flex;
}
.section {
    padding-top: 75px;
    padding-bottom: 75px;
    display: flex;
}
.circle {

}
.title {
    color: #fff;
}
.contact {
    display: flex;
    align-items: center;
}
.contactInfo {
    display: flex;
    align-items: center;
    justify-content: center;
}
.contactContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 175px;
    width: 175px;
    border-radius: 100px;
    background: #EF3F25;
}
.contactContainer:hover {
    animation: circle 1s;
}
@keyframes circle {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}
