@import "../../css/theme.scss";


.example {
    max-height: 410px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.example:hover {
    opacity: 0.75;
}

.container {
    display: flex;
}
.section {
    padding-top: 75px;
    padding-bottom: 75px;
    display: flex;
}
