@import "../../css/theme.scss";

.section {
    padding-top: 100px;
    padding-bottom: 75px;
    display: flex;
}
.skills {
    text-align: $skillsAlignmentMobile;
}
@media (min-width: 760px) {
    .listItem {
        text-align: $skillsAlignment
    }
}
.listItem {
    @include skillsSectionMobile;
}
@media (min-width: 760px) {
    .listItem {
        @include skillsSection;
    }
}


//////PROJECT TYPE STYLES//////
.projectTitle {
    margin-top: 75px;
    margin-bottom: 75px;
}
.sectionTitle {
    font-size: $h3;
    font-weight: $bold;
}
.bold {
    font-weight: 700;
}
.header {
    font-size: $h2;
    font-weight: $bold;
    margin-bottom: 10px;
}
.rationale {
    font-size: $h5;
    font-weight: $normal;
}
.subtitle {
    font-weight: 400;
    font-size: $h6;
}
.description {
    padding-top: 15px;
    border-top: 1px solid;
    font-size: $h5;
    font-weight: $normal;
}


//////PORTFOLIO IMAGES//////
.portfolioItem {
    margin-top: 25px;
    margin-bottom: 25px;
}
