@import "../../css/theme.scss";



.copyright {

    font-size: 0.75rem;
    color: #808080;
}

//////////social media//////////
.socialMedia li {
    display: inline;
}
.socialMedia a {
    color: #808080;
    padding: 0.375rem;
    display: inline;
}
.media {
    text-align: right;
}
